//custom background color
$mc-light-gray: #e6e6e6;
//custom color
$mc-white: #ffffff;
$mc-light-medium-gray: #c6c6c6;
$mc-medium-gray: #a7a7a7;
$mc-gray: #949494;
$mc-brown: #552906;
$mc-border-brown:#352409;
$mc-pink: #ff807d;
$mc-light-pink: #ff96c8;
$mc-orange: #ff9a50;
$mc-yellow: #f9ed32;
$mc-light-green: #8cc53f;
$mc-dark-green: #87c03f;
$mc-green-yellow: #8dc63f;
$mc-tab-green: #74a222;
$mc-base-green: #74a122;
$mc-item-green:#548235;
$mc-shamrock-blue: #32ceb0;
$mc-light-purple: #a8a8f6;

$gray1-color: #cbcbcb;
$gray2-color: #e0e0e0;
$dark-gray1-color: #2d3e50;
$green1-color: #18d8a9;
$red1-color: #da4453;
$blue-dodgerblue: #1E90FF;





