

// @import "../../../assets/color/color";
// .font-customer {   
//     font-size: 1.5vw;      
//     color: $mc-brown;   
// }
// .font-passport-id {   
//     font-size: 1vw;      
//     color: $mc-brown;   
// }
// .font-detail {   
//     font-size: 1.2vw; 
//     font-weight: bold;     
//     color: $mc-brown;   
// }
// .container {
//     display: flex;  
//     align-items: center;  
// }

// .main {
//      height: 65vh;
//      padding :0 30px 0 30px;   
//      @media screen and (max-height: 500px){      
//      height: 350px;  
//      }    
//       @media screen and (max-width: 600px){      
//        width: 400px;  
//      }    
     
// }

// .div-content{
//    position: relative;
//    border-style: solid;
//    border-width: 4px;
//    border-color:  $mc-border-brown;    
//    height:100%;
// //    background-image: url("../../../assets/images/callcenter1.png");
// //    background-repeat: no-repeat;
// //    background-size: cover;
// }
// .divItem{ 
//    // margin-top: 1.5vh;   
//     text-align: center; 
//     //align-items: center; /*vertical*/ 
//     justify-content: center;  
//     display: flex;  
//     height: 100%;
//     //border: 2px solid red;
// }
// .divItemPackage{   
//    width: 100%;
//     height: 60vh;
// }
// .title-right {
//     width: 100%;
//     color: #ffffff;
//     font-style: normal;
//     font-size: 22px;
//     padding-top: 12px;
//     text-align: right;
// }
// .caption-box {  
//     border-top-left-radius: 15px;
//     border-top-right-radius: 15px;
//     background: red;
//     padding-right: 10px;
// }
// .boxcon{ 
//   height:50%; 
//   width:26%; 
//   float:left; 
//   background: #7c7e79; 
// }

// .boxleft{ 
//   width:55%; 
//   float:left;
// }

// .logo {
//     position: absolute;  
//     right: 1%;     
//     top: 1%;
//     width: 10%;
//     height: 5%;
// }
// .total{
//    background: #c5e0b4;
//    border:5px solid #8fbd14;
//    width:30%;
//    height:5.5vh ;  
//    font-size: 3vh;
//   color:black;
//   font-weight: bold;
// }
// .totalText{
//    width:30%;
//    height:5.5vh ;  
//    font-size: 3vh;
//   color:black;
//   font-weight: bold;
// }
// .font_bold{ 
//   font-size: 2vh;
//   color:black;
//   font-weight: bold;
// }

// .divTable{
//   border-style: solid;
//   border-width: 0 0.3em 0.3em  0.3em;
//   border-color: $mc-border-brown;
//   height:95%;
// }
// .divLeft{
//   width:55%;
//   height:100%;
//   float:left;
//  // display:inline-block;
//   border-right: 4px solid $mc-border-brown;
//   text-align: center;
// }

// .table{  
//     width: 100%;
//     border-collapse: collapse;  
//     height: 80%;   
// }
// .td{
//     width: 55%;
//     border-right: 0.3em solid $mc-border-brown;
//     vertical-align: baseline;
// }
// .callcenter{
//    position: absolute;
//    left: 0;
//    bottom: 0; 
//    background-image: url("../../../assets/images/callcenter.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 25%;
//      display:block; 
//      z-index: -1;
// }

// .div_bottom {
//    position: absolute;
//    left: 0;
//    bottom: 6%;
//    width: 100%;
//    color: white;
//    font-size: 1.5vw;
  
// }
// .divScript{
//      padding :0 30px 0 30px;
//      font-size: 1.5vw;
// }
// .divScriptText{
//     padding: 10px 10px 5% 10px;
//     background-color: #fff2cc;
//     color: $mc-brown;
//     border: 2px solid #7f7f7f;
//     border-radius: 15px;  
//     //height: 10vh;
// }
// .cashOnly{
//    border: 2px solid red;
//    position: absolute;
//    right: 2%;
//    bottom: 3%; 
//    font-weight: bold;
//    color:black;
//    padding: 0 10px;
//    font-size: 100%;
// }
// .image {
//     height: 12vh;
//     width: 7vw;
// }

// .tdRight{
//   width: 45%;
//   vertical-align: baseline;
//   border-style: solid;
//   border-width: 0.3em 0 0  0;
//   border-color: $mc-border-brown;

// }
// .tdScript{
//   vertical-align: baseline;
//   border-style: solid;
//   border-width: 0 0.3em 0  0;
//   border-color: $mc-border-brown;
// }
// .tdTotal{
//   vertical-align: baseline;
//   border-style: solid;
//   border-width: 0.3em 0 0  0.3em;
//   border-color: $mc-border-brown;
// }



// .main1 {
//      height: 60vh;
//     // padding :0 30px 0 30px;
//      border:  8px solid red;  
//   //  position: relative;
//   //  top: -50px;
//     -khtml-user-select: none; //not select text
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//      @media screen and (max-height: 500px){      
//      height: 350px;  
//      }    
     
// }

// .div-content1{
//    position: relative;
//  //  border-style: solid;
//  //  border-width: 4px;
//  //  border-color:  $mc-border-brown;    
//    height:100%;
// //    background-image: url("../../../assets/images/callcenter1.png");
// //    background-repeat: no-repeat;
// //    background-size: cover;
// }
// .divItem1{ 
//    // margin-top: 1.5vh;   
//     text-align: center; 
//     //align-items: center; /*vertical*/ 
//     justify-content: center;  
//     display: flex;  
//     height: 100%;
//     //border: 2px solid red;
// }
// .totalCal{
//     width:100%;
//     font-size: 1.5vw;
//     height:6vh; 
//     background-color: #ffc000;
//    // padding-right: 3%;
// }
// .cal {
//     height: 6vh;
//     width: 100%;  
//     font-size: 1.5vw;  
//     border: none;
// }
// .cal:hover {
//     opacity: 0.5;
//     cursor: pointer;
// }
// .cal_border_brown{
//    border: solid 0.15rem $mc-border-brown;
// }
// .cal_border_violet{
//    border: solid 0.1em #800080;
// }
// .cal_number{
//   background-color: #57463f;
//   color: white; 
// }
// .backcolor1{
//   background-color: white;
// }

// .btn {
//    // background-color: inherit;  
//     width: 10%;
//     height: 8vh;
//     float: left;
//     border-radius: 1em 1em 0 0;
//     outline: none;
//     cursor: pointer;
//     padding: 1.5%;  
//     font-size: 85%;    
//     border: solid 0.3em $mc-border-brown;
  
//      @media screen and (max-width:900px){
//         font-size: 60%;
//     }
//      @media screen and (max-height:600px){
//         font-size: 60%;
//     }
//  }

//  .btn:hover {
//     background-color: #ddd;
// }

// /* Create an active/current tablink class */
//  .btn:active {
//    background-color: greenyellow; 
//   -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//   -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//   box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//   transform: translateY(4px);
// }
// .btn_text{
//    border-top: solid 0.3em transparent; 
//    border-right: none;
//    border-left: none;
//    border-bottom:  solid 0.3em $mc-border-brown; 
//    background: none;
//    cursor: default;
//    width: 25%;
//      height: 8vh;
//     float: left;   
//     color: $mc-brown;   
//     padding: 1.5%;  
//     font-size: 85%;  
//     font-weight: bold;
//    @media screen and (max-width:900px){
//         font-size: 60%;
//     }
// }
// .btn_select{

//   border-style: solid;
//   border-width: 0.3em 0.3em 0 0.3em;
//   border-color: $mc-brown;
//   background-color: transparent;
//   transform: translateY(0);
//     //  color: white;
//     //  border: 3px solid #767171;
// }
// .btn_unselect{   
//   border-style: solid;
//   border-width: 0.3em 0.3em 0.3em 0.3em;
//   border-color: $mc-brown; 
 
//   transform: translateY(0);
// }

// .group1 {        
//         background: url("../../../assets/images/cash_money.png") no-repeat center center ;     
//         background-size: contain;
// }
// .group2 {
//         background: url("../../../assets/images/cradit.png") no-repeat center center ;       
//         background-size: contain;
// }
// .group3 {
//         background: url("../../../assets/images/alipay.png") no-repeat center center ;       
//         background-size: contain;
// }


// .divImage{
//      background-image: url("../../../assets/images/sim_border.png");
//      background-repeat: no-repeat  ;
//      background-size:contain;
//       width: 10%;
//      height: 55%;
//     // display:block;     
//     border: 2px solid black;
//     padding-top: 6%;  
//     font-weight: bold;
//     font-size:1vw;
// }
// .divImage_bottom{
//     background: url("../../../assets/images/sim_border_big.png") no-repeat center center ;       
//     background-size:contain;   
//     color:black;
//     font-weight: bold;
//     font-size:1vw;
// }
// .divImage_backspace{
//     background: url("../../../assets/images/allowleft.png") no-repeat center center ;       
//     background-size:contain;      
//     cursor: pointer;
//     width:100%;
//     height:10vh;
// }
// .divImage_backspace:active{
//   opacity: 0.5;
// }

//   .button {  
//   border-radius: 0.4em;
//   font-size: 3vh;
//  // font-size: 3vw;
//   cursor: pointer;
//   text-align: center;	  
//   color: white;
//   //background: linear-gradient(to bottom, orange 0%,#f0741f 31%,orange 100%);
//  // background-color: $mc-item-green;
//   border: none;
//   -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//    width: 45%;
//    height: 6vh;
   
// }

// .button:hover {
//     opacity: 0.5;
// }

// .button:active {  
//   -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//   -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
//   box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31); 
// }

// .left {
//     display: flex;
//     font-size: 1em;   
//     color: $mc-brown;
//     font-weight: bold;
//     width: 50%;
//     padding-left: 20px;
// }
// .right{
//     display: flex;
//     font-size: 1em;  
//     color: $mc-brown;
//     font-weight: bold;
//     justify-content: flex-end;
//     width: 50%;    
//     padding-right: 20px;
// }
// #tdOk:active{
//     opacity: 0.5;

// }
// // .borderTalk{
// //   background: url("../../../assets/images/borderTalk.png") no-repeat center bottom ;     
// //   background-size: 100%;
// //   width: 100%;
// //   height: 40vh;
// // }

// .borderTalk 
// { 
// width: 100%; 
//  background: white;
//  position: relative; 
//  -moz-border-radius: 10px; 
//  -webkit-border-radius: 10px; 
//  border-radius: 2em;
//  border: 3px solid #ffc000;
// } 
// .borderTalk:after, .borderTalk:before {
// 	right: 100%;
// 	top: 70%;
// 	border: solid transparent;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// }
//  .borderTalk:after { /* สไตล์ของสามเหลี่ยม */
//    /*border-color: rgba(136, 183, 213, 0);*/
//    border-right-color: white;
//    border-width: 52px;
//    margin-top: -62px;
// }
//   .borderTalk:before 
//    { 
//     /*border-color: rgba(194, 225, 245, 0);*/
// 	border-right-color: #ffc000;
// 	border-width: 56px;
// 	margin-top: -66px;
//     }  

@import "../../../assets/scss/util/color";
//    table, th, td {   
   
// }
// th, td {
//     padding: 0px;
// }
.divMain{
   padding:0 1% 1.5% 1.5%;
  // border-radius: 0 0 0 20px;
   background-color: white;
   height:62vh;
   width:100%; 
   position: relative;
    @media screen and (min-height:800px){
      // height:66vh;
    }
}
.tdCalc{     
    border: 1px solid lightgray;  
    cursor: pointer;
    padding:0;
}
.tdCalc:active{
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.31); 
  transform: translateY(4px);
}
.divImage_backspace{
    background: url("../../../assets/images/allowleft.png") no-repeat center center ;       
    background-size:contain;      
  //  cursor: pointer;
   // width:100%;
   // height:10vh;
}
.divImage_backspace:active{
  opacity: 0.5;
}
.backcolor1{
  background-color: white;
}
.totalCal{
    width:100%;
    font-size: 1.5vw;
    height:6vh; 
    background-color: #ffc000;
   // padding-right: 3%;
}
.cal {
    height: 6vh;
    width: 100%;  
    font-size: 1.5vw;  
    border: none;
}
.cal:hover {
    opacity: 0.5;
    cursor: pointer;
}
.cal_border_brown{
   border: solid 0.15rem $mc-border-brown;
}
.cal_Bank{
  width: 100%;
 // height: 100%;
  color:white;
  font-size:1.5 vmin;
 // padding: 5% 0 5% 0;
  background: $red1-color;
}
.cal_number{
  background-color: #57463f;
  color: white; 
}
.imageSim{
    background: url("../../../assets/images/sim-gray.png") no-repeat center center ;       
    background-size:contain;   
    width: 1.5vw;
    height:1em;
}
input{
    height: 5vh;
    width:100%;
    color:gray;
}

// .font-customer {   
//     font-size: 1.5vw;      
//     color: black;   
// }
.fontCalc {   
    font-size: 2vw;      
    color: gray;   
}
// .font-detail {   
//     font-size: 1.2vw; 
//     font-weight: bold;     
//     color: $mc-brown;   
// }
.container {
    display: flex;   
    height: 15vh;
   
   // border: 2px solid black;   
   // background-color: white;
}
.containerMain {
    display: flex;
    width: 100%;   
    height: 78vh;
    background-color: #e6e6e6;
   // border-top-left-radius: 20px;
    border-radius: 20px 0 0 20px;
     @media screen and (max-height:768px){
      // height:97vh;
    }
}
.containerTab {
    display: flex;     
  //  background-color: white;
    width:100%;
   
  
}
.left {
    display: flex;
    font-size: 1.5vw;   
   // color: $mc-brown;    
    width: 50%;
   // padding-left: 20px;
}
.right{
    display: flex;
    font-size: 1.5vw;     
    justify-content: flex-end;
    width: 50%;    
  //  margin-right: 0;
   // padding-right: 5%;
}
.leftMain {
    display: flex;          
    width: 55%;    
   // border: 2px solid darkmagenta;
}
.rightMain{
    display: flex;
    font-size: 1em;     
    justify-content: flex-end;
    width: 45%;      
    position: relative;
}
.divScript{
   background: white;
    height:13vh;
    border-radius: 15px;
    font-size: 1.3vw;
    @media screen and (max-height:768px){
        height:12vh;
    }
}
.divHeightRight{
  width:100%;
  height:100%;
  background: white;
  border-radius: 0 0 15px 15px;
  position:relative; 
  overflow: auto;
    @media screen and (max-width:1024px){
       height:76.5vh;
    }
}
.boxShadow{
box-shadow: 2px 0 #e6e6e6;
 -moz-box-shadow: 2px 0 #e6e6e6; 
 -webkit-box-shadow: 2px 0 #e6e6e6;
  -o-box-shadow: 2px 0 #e6e6e6;

}
.shadow{
   box-shadow: 4px -5px 4px -5px #333;
}
.shadowRight{
 box-shadow: 20px -10px #e6e6e6;
 -moz-box-shadow: 20px -10px #e6e6e6;
 -webkit-box-shadow: 20px -10px #e6e6e6;
 -o-box-shadow: 20px -10px #e6e6e6;
}
.shadowBottomRight{
 box-shadow: 4px 5px 4px -5px #333;
}
.font-title {   
    font-size: 2vw;
    font-family:  serif;
    font-weight: bold;
    color: $mc-brown;   
}
.container {
    display: flex;  
    align-items: center;  
}

.logo {
   position: absolute;  
   right: 5%;     
   top: 5%;
   width: 15%;
   height: 7%;
     @media screen and (max-width:1024px){
       width: 17%;
    }
}

.td{
    width:33%;
    cursor: pointer;
}
.callcenter{
   position: absolute;
   left: 5%;
   bottom: 3%; 
   background-image: url("../../../assets/images/ais_jaide.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   height: 20%;
   display:block; 

}

.div_bottom {
   position: absolute;
   left: 50%;
   bottom: 5%;
   width: 100%;
   color: white;
   font-size: 1.5vw;
  
}
.div_told {
  background: url("../../../assets/images/told.png") no-repeat center center ;     
  background-size: contain;
  width: 55%;
  height: 15%;      
  position: absolute;
  bottom: 3%;
  left: 14%;     
  font-size: 1.2em;
    @media screen and (max-width:1024px){
       left: 22%;  
    }
}


.cashOnly{
  border: 2px solid $red1-color;
   position: absolute;
   right: 2%;
   bottom: 5%; 
   font-weight: bold;
   color:$red1-color;
   padding: 1% 1.5%;
   font-size: 80%;
   border-radius: 0.5em;
}
.image {
    height: 10%;
    width: 14%;
}
.imageCash {
     height: 70%;
    width: auto;
     @media screen and (max-height:768px)and (max-width:1366px){
        // width: 50%;
    }
}

.btn_select{
 background: $mc-orange1; 
 color: white;
}
.btn_unselect{   
 background: white;
 color:gray;
}

 
