<!--The content below is only a placeholder and can be replaced.-->
<div class="idcard-box">
  <div class="caption-box">
    <div class="caption-text">Read National ID Card</div>
  </div>
  <div class="card-holder">
    <img src={{imageCard}}>    
  </div>
  <div [hidden]="!showStatusBar" id="status-bar">
    <div style="width: 40%; float:left">
      <div class="status-message">
          Loading card data ...          
      </div>
    </div> 
    <div style="width: 60%; float:right">
        <div class="progress">
          <span [style.width]="progressValue"></span>
        </div>
      </div>    
  </div>
</div>

