      <div class="main">
        <div class="div-content">
          <div class="divItem middle" style="overflow:auto;">
             <img class="imageCash" src='assets/images/passport-show.png'>

            <img class="logo" src="assets/images/ais.png" />
            <div  class="callcenter"></div>
            <div  class="div_told middle">{{callCenterMsg}} </div>
            <div *ngIf="packageSelect.globalCash" class="cashOnly middle">CASH ONLY</div>

          </div>

        </div>

      </div>

