.content {   
    border-radius: 15px;   
    background:rgba(255,255,255,0.4);   
}
.content-title {
    width: 100%;
    color: #ffffff;
    font-style: normal;
    font-size: 2.5vw;
    /*padding-top: 12px;   */
}
.caption-box {  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: red;
    padding-right: 10px;
}
.boxcon{ 
  height:100%; 
  width:100%; 
  float:left;
  background: #7c7e79;
}

.textCenter{
     text-align: center;
}
.textRight{
     text-align: right;
}
.totalText{
   padding-top:1.5vh;
   font-style: bold;
   color: white;
   font-size: 4vw;
   padding-right: 0.5vw; 
 
}





