<!--<div class="main"> 
    <div class="row title-bar">
        Internet & Call Packages
        <div class="logo">
          <img class="image" src="assets/images/logo.png" />        
       </div>        
    </div>        
   <router-outlet ></router-outlet>
</div>-->


 <!--<table style="width: 100%;border-collapse: collapse;border: 2px solid black;height: 20%">
    <tr>
        <td style="width: 55%;border-right: 3px solid black">
            123
        </td>
        <td style="width: 45%">
            123
        </td>
    </tr>
</table>-->
<div class="main notSelectText">
  <staff-header></staff-header>
  <staff-header-package></staff-header-package>
  <router-outlet></router-outlet>
  <app-alert-confirm></app-alert-confirm>
  <app-page-loading></app-page-loading>
</div>


