<!--<div class="container font">
  <div class="left">
    <img class="image" src="assets/images/usa.png" />
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/china.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/japan.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/unkwon.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/russian.png"/></span>
    <span> <button class="button" routerLink="/staff/cashier-show-package">Confirm</button></span>
  </div>
  <div class="right">
    <input type="checkbox" name="test" value="Hello World">
    <span><img class="image" src="assets/images/cash.png"/></span>
    <span>&nbsp;<img class="image" src="assets/images/print.png"/></span>
    <span class="color-font-brown">&nbsp;PRINT<br>Last Bill</span>
  </div>
</div>-->

<!--
  <div class= "divTable ">
    <div class ="divLeft">
      123-->
<!--<div class="container font">
  <div class="left">
    <img class="image" src="assets/images/usa.png" />
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/china.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/japan.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/unkwon.png"/></span>
    <span>&nbsp;&nbsp;<img class="image" src="assets/images/russian.png"/></span>
    <span> <button class="button" routerLink="/staff/cashier-show-package">Confirm</button></span>
  </div>
  <div class="right">
    <input type="checkbox" name="test" value="Hello World">
    <span><img class="image" src="assets/images/cash.png"/></span>
    <span>&nbsp;<img class="image" src="assets/images/print.png"/></span>
    <span class="color-font-brown">&nbsp;PRINT<br>Last Bill</span>
  </div>
</div>-->

<!--</div>
    <div style="margin-left:45%;"> 
      <div style="width:100%;text-align: left">1234</div>
          
    </div> {{dte |date:'MM/dd/yyyy @ h:mma'}}
</div>-->



<!--<table class="table" >
    <tr>        
        <td class="td">        
         <div class="container font">
          <div class="left">
            <img class="image" src="assets/images/usa.png" />
            <span>&nbsp;&nbsp;<button class="buttonImage" ><img class="image" src="assets/images/chinaBig.png"/></button></span>
            <span>&nbsp;&nbsp;<button class="buttonImage" ><img class="image" src="assets/images/japan.png"/></button></span>
            <span>&nbsp;&nbsp;<button class="buttonImage" ><img class="image" src="assets/images/unkwon.png"/></button></span>
            <span>&nbsp;&nbsp;<button class="buttonImage" ><img class="image" src="assets/images/russian.png"/></button></span>
          </div>
          <div class="right"> 
       
            <input type="checkbox" class="classChk" id="chkbox" checked="checked" (change)="setCashOnly($event)" >
            <span><img class="image" src="assets/images/cash.png"/></span>
            <span>&nbsp;<button class="buttonImage" (click)="print()"><img class="image" src="assets/images/print.png"/></button></span>
            <span class="color-font-brown">&nbsp;PRINT<br>Last Bill</span>
          </div>
        </div>
        </td>
        <td style="width: 45%;" >           
            <div  >             
              <button class="button" [ngClass]="{'btn_select': tab==1,'btn_unselect': tab != 1}" (click)="setAllmyClass(1)">Traveller SIM</button>
              <button class="button" [ngClass]="{'btn_select': tab==2,'btn_unselect': tab != 2}" (click)="setAllmyClass(2)">SiM2Fly</button>
          </div>
          <div  class="middleVerticalRight">
           <button class="btn " [ngClass]="{'btn_select_group1': process1, 'btn_unselect_group1': !process1 }"  (click)="onGroupClick(1)"></button>
           <img class="img" src="assets/images/navigator1.png"/>
           <button class="btn " [ngClass]="{'btn_select_group2': process2 == true, 'btn_unselect_group2': !process2 }"  (click)="onGroupClick(2)"></button>
          <img class="img" src="assets/images/navigator1.png"/>
           <button class="btn " [ngClass]="{'btn_select_group3': process3, 'btn_unselect_group3': !process3 }" (click)="onGroupClick(3)"></button>
          <img class="img" src="assets/images/navigator1.png"/>
           <button class="btn " [ngClass]="{'btn_select_group4': process4, 'btn_unselect_group4': !process4 }" (click)="onGroupClick(4)"></button>
           &nbsp; &nbsp;
           <button class="btn cancel"  (click)="onCancel()"></button>
          </div>
        </td>
    </tr>
</table>-->

<!--<table class="table" >
    <tr>        
        <td class="td">        
         <div class="container">
          <div class="left">
            <table border="0" style="width:100%;border-collapse: collapse;">
              <tr>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/usa.png" /></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="imageBig" src="assets/images/chinaBig.png"/></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/unkwon.png" /></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/japan.png" /></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/usa.png" /></button></td>
              </tr>
              <tr style="font-size:1vw">
                <td><div>USA</div></td>
                <td><div >China</div></td>
                <td><div>Unknow</div></td>
                <td><div >Japan</div></td>
                <td><div >Russian</div></td>
              </tr>
            </table>
            
          </div>
          <div class="right"> 
       
            <input type="checkbox" class="classChk" id="chkbox" checked="checked" (change)="setCashOnly($event)" >
            <span><img class="image" src="assets/images/cash.png"/></span>
            <span>&nbsp;<button class="buttonImage" (click)="print()"><img class="image" src="assets/images/print.png"/></button></span>
            <span class="color-font-brown">&nbsp;PRINT<br>Last Bill</span>
          </div>
        </div>
        </td>
        <td style="width: 45%;" >           
        </td>
    </tr>
</table>-->
<!--<table class="table">
  <tr>
   <td >
     <table border="0" style="width:100%;border-collapse: collapse;">
              <tr>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/usa.png" /></button><div>USA</div></td>
                <td style="width:20%"><button class="buttonImage" ><img class="imageBig" src="assets/images/chinaBig.png"/></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/unkwon.png" /></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/japan.png" /></button></td>
                <td style="width:20%"><button class="buttonImage" ><img class="image" src="assets/images/usa.png" /></button></td>
              </tr>
             
            </table>
   </td>
        
    
  </tr>
  
</table>-->

<div style="padding: 0 1% 0 0.95vw;">
  <div class="divMain">
    <table cellpadding="0" cellspacing="0" class="tableMiddle" style="width:100%;height:100%; border-collapse: collapse; ">
      <tr>
        <td style="width:55%;">
          <div class="container">
            <div class="left">
              <table border="0" style="width:100%;border-collapse: collapse;">
                <tr>
                  <td class="tdCountry">
                    <button class="buttonImage" (click)="setLanguage(1)"><img [ngClass]="{'imageBig': tab==1,'image': tab != 1}"  src="assets/images/usa.png" /></button>
                    <div *ngIf="tab==1">USA</div>
                  </td>
                  <td class="tdCountry">
                    <button class="buttonImage" (click)="setLanguage(2)"><img [ngClass]="{'imageBig': tab==2,'image': tab != 2}" src="assets/images/china.png" /></button>
                    <div *ngIf="tab==2">China</div>
                  </td>
                  <td class="tdCountry">
                    <button class="buttonImage" (click)="setLanguage(3)"><img [ngClass]="{'imageBig': tab==3,'image': tab != 3}" src="assets/images/arabic.png" /></button>
                    <div *ngIf="tab==3">Arabic</div>
                    <td class="tdCountry">
                      <button class="buttonImage" (click)="setLanguage(4)"><img [ngClass]="{'imageBig': tab==4,'image': tab != 4}" src="assets/images/japan.png" /></button>
                      <div *ngIf="tab==4">Japan</div>
                    </td>
                    <td class="tdCountry">
                      <button class="buttonImage" (click)="setLanguage(5)"><img [ngClass]="{'imageBig': tab==5,'image': tab != 5}" src="assets/images/russian.png" /></button>
                      <div *ngIf="tab==5">Russian</div>
                    </td>
                </tr>
              </table>

            </div>
            <div class="right ">
              <div class="container" style="width:100%;"> 
                <div class="left" style="width:45%;padding:0;">
                  <div class="middle" >
                  <input #chkCash type="checkbox" id="chkCash" checked name="chkCash" (change)="setCashOnly($event)" />
                      <label for="chkCash"></label><span style=" color:#da4453;font-size:1.1vw">Cash Only</span>  
                  </div>
                </div>
                <div class="right" style="width:55%;">
                   <div class="btn_container " (click)="onPrint()">
                      <div class="left" style="padding-left:2%; width:20%">                     
                       <img  src="assets/images/print-icon.png"/>
                     
                      </div>
                      <div class="right  middle" style="width:70%">
                      <div style="width:100%;text-align: left">
                        &nbsp; PRINT LAST BILL
                      </div>
                       
                      </div>
                   </div>
                 </div>
              </div>

            </div>
          </div>
          </td>
          <td [ngStyle]="{'visibility': packageSelect.globalStatusSimDone == 'process' ? 'hidden':'visible'}">
            <div class="middle" style="padding:3%">
              <button class="btnPage " [ngClass]="{'btn_select_group1': packageSelect.globalTotal, 'btn_unselect_group1': !packageSelect.globalTotal }"
                [ngStyle]="{'width': process==1 ? '10%' : '7%'}" (click)="onGroupClick(1)"></button>
              <img class="img" src="assets/images/navigator-gray.png" />
              <button class="btnPage " [ngClass]="{'btn_select_group3': packageSelect.globalNationalID, 'btn_unselect_group3': !packageSelect.globalNationalID }"
                [ngStyle]="{'width': process==3 ? '10%' : '7%'}" (click)="onGroupClick(2)"></button>
              <img class="img" src="assets/images/navigator-gray.png" />
              <button class="btnPage " [ngClass]="{'btn_select_group2': packageSelect.globalStatusSimDone == 'done', 'btn_unselect_group2': packageSelect.globalStatusSimDone == 'scan' }"
                [ngStyle]="{'width': process==2 ? '10%' : '7%'}" (click)="onGroupClick(3)"></button>
              <img class="img" src="assets/images/navigator-gray.png" />
              <button class="btnPage " [ngClass]="{'btn_select_group4': packageSelect.globalPaid, 'btn_unselect_group4': !packageSelect.globalPaid }"
                [ngStyle]="{'width': process==4 ? '10%' : '7%'}" (click)="onGroupClick(4)"></button>&nbsp; &nbsp;
              &nbsp;
              <button class="btnPage cancel" style="border:none" (click)="onCancel()"></button>
            </div>
          </td>
      </tr>
    </table>
  </div>
</div>
<!--<table class="table">
    <tr>

      <td class="tdCountry">
        <button class="buttonImage" (click)="setLanguage(1)"><img [ngClass]="{'imageBig': tab==1,'image': tab != 1}"  src="assets/images/usa.png" /></button>
        <div *ngIf="tab==1">USA</div>
      </td>
      <td class="tdCountry">
        <button class="buttonImage" (click)="setLanguage(2)"><img [ngClass]="{'imageBig': tab==2,'image': tab != 2}" src="assets/images/chinaBig.png" /></button>
        <div *ngIf="tab==2">China</div>
      </td>
      <td class="tdCountry">
        <button class="buttonImage" (click)="setLanguage(3)"><img [ngClass]="{'imageBig': tab==3,'image': tab != 3}" src="assets/images/unkwon.png" /></button>
        <div *ngIf="tab==3">Unknow</div>
        <td class="tdCountry">
          <button class="buttonImage" (click)="setLanguage(4)"><img [ngClass]="{'imageBig': tab==4,'image': tab != 4}" src="assets/images/japan.png" /></button>
          <div *ngIf="tab==4">Japan</div>
        </td>
        <td class="tdCountry">
          <button class="buttonImage" (click)="setLanguage(5)"><img [ngClass]="{'imageBig': tab==5,'image': tab != 5}" src="assets/images/russian.png" /></button>
          <div *ngIf="tab==5">Russian</div>
        </td>
        <td>
        </td>
        <td style="width:30%">
          <input type="checkbox" class="classChk" id="chkbox" checked="checked" (change)="setCashOnly($event)">
          <span style="color:#da4453;font-size:1.2vw">Cash Only</span>
        </td>
        <td style="width:20%">
          <button class="btn">               
              <img  src="assets/images/print-icon.png" width="30" height="30"/>
              <span style="font-size: 0.9vw;">PRINT LAST BILL</span>
          </button>
        </td>
    </tr>
  </table>-->